body {background-color:#ffffee;font-family:sans-serif;line-height:1.1em;}
h1, h2 {color: #336699;font-family: serif;}
h1{font-size:2em;}
h2{font-size:1.7em;}
p{padding-bottom:10px;}
/*.menu{position:fixed;}*/
#aboveheader h2 {font-size:.9em;padding:10px 0;position:fixed;top:50px;}
#aboveheader img {height:70px;width:70px;position:fixed;}
#aboveheader .menu {position:fixed;top:75px;}
#header{text-align:center;height:50px;padding:15px}
#header h1 {font-size:3em;margin:auto;padding-top:10px;}
#content{margin:auto;width:760px;}