body {background-color:#ffe;font-family:sans-serif;line-height:1.1em;}
h1, h2 {color: #336699;}



#header{text-align:center;height:50px;padding:15px}
/*s
p{padding-bottom:10px;}
#header h1 {font-size:3em;margin:auto;padding-top:10px;}
#content{margin:auto;width:760px;}
*/